---
# Front matter comment to ensure Jekyll properly reads file.
---
/* * * *
 * Vendors
 * * * */
@import
  "vendor/slick";

/* * * *
 * Utils
 * * * */
@import
  "settings/colors",
  "settings/mixins",
  "settings/variables";

/* * * *
 * Base
 * normalize is always first
 * * * */
@import
  "base/normalize",
  "base/base",
  "base/typography",
  "base/grid",
  "base/helpers";

/* * * *
 * Layout
 * * * */
@import
  "layout/container",
  "layout/footer",
  "layout/navbar",
  "layout/section";

/* * * *
 * Components
 * * * */
@import
  "components/button",
  "components/call-to-action",
  "components/carousel",
  "components/content-header",
  "components/faq",
  "components/fellows",
  "components/form",
  "components/hero",
  "components/inner-content",
  "components/intro-imagery",
  "components/mentor",
  "components/modal",
  "components/paginator",
  "components/project-grid",
  "components/project-list",
  "components/shortlist-links",
  "components/starfish",
  "components/success-story";

/* * * *
 * Pages
 * * * */
 @import
  "pages/404",
  "pages/contact",
  "pages/homepage",
  "pages/post",
  "pages/secondary",
  "pages/thanks";
