<div class="inner-content">
  <div class="content-header">
    <span class="content-mini-title">
      From past fellows
    </span>
    <h2 class="content-title">
      Completed projects
    </h2>
  </div>
</div>
<div class="project-grid">
  {% for item in site.projects limit:5 %}
    {% assign author = site.data.fellows[item.fellow] %}
    <div class="project-card">
      <a class="project-card-link" href="{{ item.url }}">Go to project</a>
      <div class="project-card-image" style="background-image: url(/assets/images/projects/{{item.year}}/{{item.featured_image}})"></div>
      <div class="project-card-details">
        <div class="fellow">
          <div class="fellow-image">
            <img src="/assets/images/fellows/{{ author.image }}" alt="{{ author.name }}">
          </div>
          <div class="fellow-name">{{author.name}}</div>
          <div class="fellow-year">{{author.year}} fellow</div>
        </div>
        <div class="project-card-title">{{ item.client }}</div>
      </div>
    </div>
  {% endfor %}
  <div class="project-card placeholder">
    <a class="project-card-link" href="/projects/all">Go to all projects page</a>
    <div class="project-card-details">
      <div class="arrow">
        <img src="/assets/icons/icon-arrow-right.svg" alt="{{ author.name }}">
      </div>
      <div class="project-card-title">All projects &amp; project shortlists</div>
    </div>
  </div>
</div>

