{%- include _global-variables.html -%}

{% capture shortlist %}
  {% if GlobalInSession %}
    <!-- project page intro -->
    {% include {{ page.partials_location }}_intro.html %}
    <!-- project page intro -->
    
    <!-- shortlist list -->
    {% include shortlist-list.html %}
    <!-- shortlist list -->
  {% endif %}
{% endcapture %}

{% capture project-grid %}
   <!-- project list -->
    {% include {{ page.partials_location }}_featured-projects.html %}
  <!-- project list -->
{% endcapture %}

{% capture spacer %}
  {% if GlobalInSession %}
    <div class="section-spacer"></div>
  {% endif %}
{% endcapture %}

{{ project-grid }}
{{ spacer }}
{{ shortlist }}