{% comment %}
  If the fellowship is in session, show the shortlist 
  and show the page intro (which talks about the shortlist),
  otherwise, hide it.
{% endcomment %}
{% if site.fellowship.in_session == true %}
  <!-- project page intro -->
  {% include_relative {{ page.partials_location }}_intro.html %}
  <!-- project page intro -->
  <!-- project list -->
  {% include shortlist-list.html %}
{% endif %}
<!-- project list -->

<!-- Close previous section and start a new section to improve spacing -->
</div>
</section>
<section>
<div class="container">
<!-- Close previous section and start a new section to improve spacing -->

<!-- project list -->
{% include_relative {{ page.partials_location }}_featured-projects.html %}
<!-- project list -->