{% capture shortlist %}
  {% if site.fellowship.in_session %}
    <!-- project page intro -->
    {% include {{ page.partials_location }}_intro.html %}
    <!-- project page intro -->
    
    <!-- shortlist list -->
    {% include shortlist-list.html %}
    <!-- shortlist list -->
  {% endif %}
{% endcapture %}

{% capture project-grid %}
   <!-- project list -->
    {% include {{ page.partials_location }}_featured-projects.html %}
  <!-- project list -->
{% endcapture %}

{% capture spacer %}
  {% if site.fellowship.in_session %}
    <div class="section-spacer"></div>
  {% endif %}
{% endcapture %}

{% if site.fellowship.stage.student_review or
      site.fellowship.stage.fellowship_ongoing  %}

  {{ project-grid }}
  {{ spacer }}
  {{ shortlist }}

{% else %}

  {{ shortlist }}
  {{ spacer }}
  {{ project-grid }}

{% endif %}