<div class="form {{ include.theme }}">
  <form action="" method="POST" novalidate="novalidate" role="form" class="contact-form"">
    <div class="form-group">
      <label>First Name <span>*</span>
         <input name="FNAME" required="required" type="text">
      </label>
    </div>
    <div class="form-group">
      <label>Last Name <span>*</span>
        <input name="LNAME" required="required" type="text">
      </label>
    </div>
    <div class="form-group">
      <label>Email <span>*</span>
        <input name="EMAIL" type="email" required="required">
      </label>
    </div>
    <div class="form-group">
      <label>Phone
        <input name="PHONE" type="tel">
      </label>
    </div>
    <div class="form-group">
      <label>Organization
        <input name="COMPANY" type="text">
      </label>
    </div>
    <div class="form-group radio-list">
      <label>I'm interested in becoming a:</label>
      <label class="radio">
        <input type="radio" name="INTEREST" value="Fellow">
        <span></span>
        Fellow
      </label>
      <label class="radio">
        <input type="radio" name="INTEREST" value="Mentor">
        <span></span>
        Mentor
      </label>
      <label class="radio">
        <input type="radio" name="INTEREST" value="Participating nonprofit">
        <span></span>
        Participating nonprofit
      </label>
      <label class="radio">
        <input type="radio" name="INTEREST" value="Sponsor">
        <span></span>
        Sponsor
      </label>
    </div>
    <div class="form-group full-width">
      <label>Message
        <textarea name="MESSAGE"></textarea>
      </label>
    </div>
    <div class="contact-method">
      <label class="just-checking" aria-hidden="true">Leave the following fields empty/unchecked</label>
      <input 
        type="text" 
        class="just-checking contact-method-fullname"
        name="contact-method-fullname"
        tabindex="-1" 
        autocomplete="off"
        aria-hidden="true">
      <input 
        type="text" 
        class="just-checking contact-method-phone" 
        name="contact-method-phone"
        tabindex="-1" 
        autocomplete="off"
        aria-hidden="true">
    </div>
    <div class="form-action">
      <input type="submit" value="Submit" class="btn {{include.submit}} contact-form-submit" disabled>
    </div>
  </form>
</div>
