<div class="form {{ include.theme }}">
  <form action="" method="POST" novalidate="novalidate" role="form" class="hs-contact-form"">
    <div class="form-group">
      <label>First Name <span>*</span>
         <input name="firstname" required="required" type="text">
      </label>
    </div>
    <div class="form-group">
      <label>Last Name <span>*</span>
        <input name="lastname" required="required" type="text">
      </label>
    </div>
    <div class="form-group">
      <label>Email <span>*</span>
        <input name="email" type="email" required="required" type="email">
      </label>
    </div>
    <div class="form-group">
      <label>Phone
        <input name="phone" type="tel">
      </label>
    </div>
    <div class="form-group">
      <label>Organization
        <input name="company"  type="text">
      </label>
    </div>
    <div class="form-group radio-list">
      <label>I'm interested in becoming a:</label>
      <label class="radio">
        <input type="radio" name="som_interest" value="fellow">
        <span></span>
        fellow
      </label>
      <label class="radio">
        <input type="radio" name="som_interest" value="mentor">
        <span></span>
        mentor
      </label>
      <label class="radio">
        <input type="radio" name="som_interest" value="participating nonprofit">
        <span></span>
        participating nonprofit
      </label>
      <label class="radio">
        <input type="radio" name="som_interest" value="sponsor">
        <span></span>
        sponsor
      </label>
    </div>
    <div class="form-group full-width">
      <label>Message
        <textarea name="message"></textarea>
      </label>
    </div>
    <div class="contact-method">
      <label class="just-checking" aria-hidden="true">Leave the following fields empty/unchecked</label>
      <input 
        type="text" 
        class="just-checking contact-method-fullname"
        name="contact-method-fullname"
        tabindex="-1" 
        autocomplete="off"
        aria-hidden="true">
      <input 
        type="text" 
        class="just-checking contact-method-phone" 
        name="contact-method-phone"
        tabindex="-1" 
        autocomplete="off"
        aria-hidden="true">
    </div>
    <input name="hs_context" class="hs_context" type="hidden" value="">
    <div class="form-action">
      <input type="submit" value="Submit" class="btn {{include.submit}} contact-form-submit" disabled>
    </div>
  </form>
</div>
