{%- include _global-variables.html -%}

<header class="hero" id="hero">
  {% if page.no_hero != true %}
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">
        {{ page.hero.title }}
      </h1>
      <h2 class="hero-subtitle">
        {{ page.hero.subtitle }}
      </h2>

      <div class="hero-actions">
        {% if GlobalInSession %}
          {% if site.fellowship.in_session.nonprofit_signup %}
          <a href="{{ site.nonprofit_app_link}}" class="btn btn-primary">Nonprofits apply</a>
          {% elsif site.fellowship.in_session.student_signup %}
          <a href="{{ site.student_app_link}}" class="btn btn-primary">Students apply</a>
          {% elsif site.fellowship.in_session.applications_signup %}
          <a href="{{ site.nonprofit_app_link}}" class="btn btn-ghost-secondary">Nonprofits apply</a>
          <a href="{{ site.student_app_link}}" class="btn btn-ghost-secondary">Students apply</a>
          {% endif %}
        {% else %}
          <a href="#job-alert-modal" class="btn btn-ghost-secondary form-modal-open" rel="modal:open">
            Get involved
          </a>
        {% endif %}
        <a href="/about" class="btn btn-secondary">Learn more</a>
      </div>
    </div>
    <div class="hero-viz">
      <img src="../assets/images/philly-map.jpg" alt="" role="presentation" class="hero-viz-map">
      <img src="../assets/images/philly-counties-yellow.svg" alt="" role="presentation" class="hero-viz-counties-shapes">
      <img src="../assets/images/philly-counties-lite-green.svg" alt="" role="presentation" class="hero-viz-counties-shapes">
      <img src="../assets/images/philly-counties-lame-green.svg" alt="" role="presentation" class="hero-viz-counties-shapes">
      <img src="../assets/images/philly-counties-teal.svg" alt="" role="presentation" class="hero-viz-counties-shapes">
      <img src="../assets/images/philly-counties-sky-blue.svg" alt="" role="presentation" class="hero-viz-counties-shapes">
      <img src="../assets/images/philly-counties-blue.svg" alt="" role="presentation" class="hero-viz-counties-shapes">
      <img src="../assets/images/philly-counties-dark-blue.svg" alt="" role="presentation" class="hero-viz-counties-shapes">
    </div>
  </div>
  {% endif %}
</header>