<div class="navbar">
  <div class="container">
    <div class="navbar-left">
      <a href="/" class="brand" title="Azavea Open Source Fellowship homepage">
        <img src="{{ site.baseurl }}/assets/images/azavea-summer-of-maps-logo.svg" alt="Azavea Summer of Maps logo">
      </a>
    </div>
    <div class="navbar-right">
      <nav>
        <a href="/about"
          {% if page.url == "/about/" %}
             class="active"
          {% endif %}>
          About
        </a>
        <a href="/projects"
          {% if page.url == "/projects/" %}
             class="active"
          {% endif %}>
          Projects
        </a>
        <a href="/faq"
          {% if page.url == "/faq/" %}
             class="active"
          {% endif %}>
          FAQ
        </a>
        <a href="/contact"
          {% if page.url == "/contact/" %}
             class="active"
          {% endif %}>
          Contact
        </a>
        {% if site.fellowship.in_session.nonprofit_signup %}
        <a href="{{ site.nonprofit_app_link}}" class="btn btn-primary">Nonprofits apply</a>
        {% elsif site.fellowship.in_session.student_signup %}
        <a href="{{ site.student_app_link}}" class="btn btn-primary">Students apply</a>
        {% elsif site.fellowship.in_session.applications_signup %}
          <a href="#join-us" class="btn btn-ghost-secondary">Apply now</a>
        {% endif %}
      </nav>
    </div>
    <a href="https://www.azavea.com" class="azavea-link" title="Azavea homepage">
      Go to azavea.com
    </a>
  </div>
</div>