/* * * *
 * Colors
 * * * */
// Brand Colors:
$primary: #4BA6DD;   // blue light 1
$secondary: #3773A1;  // blue light 2

// Base Colors:
$base: #27323D;
$header: #092253;

$black: #092253;
$white: #fff;
$off-white: #ebf0f5;

$red: #d84d47;


/**
 * Grayscale
 */
$brand-ink: #27323D;
$brand-granite: #4D6379;
$brand-slate: #7C94AC;
$brand-pewter: #B8C5D2;
$brand-steel: #D0D9E1;
$brand-porcelain: #E5EAEE;
$brand-off-white: #F4F6F8;
