/* * * *
 * Colors
 * * * */
// Brand Colors:
$primary: #4BA6DD;   // blue light 1
$secondary: #3773A1;  // blue light 2

// Base Colors:
$base: #27323D;
$header: #092253;

$black: #092253;
$white: #fff;
$off-white: #F4F6F8;

$red: #d84d47;