<section>
  <div class="container">
    <div class="inner-content">
      <div class="content-header">
        <span class="content-mini-title">
          {{ page.about.above-title }}
        </span>
        <h2 class="content-title">
          {{ page.about.title }}
        </h2>
      </div>
      <p class="content-blurb">{{ page.about.blurb }}</p>
    </div>
    <div class="row stack-xs">
      <div class="column-6">
        <div class="carousel about-carousel">
          <div class="slide">
            <img src="assets/images/photos/fellows.jpg" alt="">
          </div>
          <div class="slide">
            <img src="assets/images/photos/fellow-working.jpg" alt="">
          </div>
          <div class="slide">
            <img src="assets/images/photos/fellows-at-desk.jpg" alt="">
          </div>
          <div class="slide">
            <img src="assets/images/photos/fellow-presenting.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="column-6">
        <h3>Important dates</h3>
        <ul>
          {% for date in site.data.dates %}
            <li><strong>{{ date.date }}:</strong> {{ date.description }}</li>
          {% endfor %}
        </ul>
        <a href="{{ site.baseurl }}/about#program-timeline" class="btn btn-primary">More details</a>
      </div>
    </div>
  </div>
</section>
