<section class="qualtifications">
  <div class="container">
    <div class="inner-content">
      <div class="content-header">
        <span class="content-mini-title">
          {{ page.qualifications.above-title }}
        </span>
        <h2 class="content-title">
          {{ page.qualifications.title }}
        </h2>
      </div>
      <p class="content-blurb">{{ page.qualifications.blurb }}</p>
    </div>
    <div class="row">
      <div class="column-6">
        <h3>{{ page.student-qualifications.title }}</h3>
        <p>{{ page.student-qualifications.blurb }}</p>
        <a href="{{ site.baseurl }}/about#fellow-information" class="btn btn-primary">Learn more</a>
      </div>
      <div class="column-6">
        <h3>{{ page.np-qualifications.title }}</h3>
        <p>{{ page.np-qualifications.blurb }}</p>
        <a href="{{ site.baseurl }}/about#nonprofit-information" class="btn btn-primary">Learn more</a>
      </div>
    </div>
    <div class="carousel qualifications-carousel">
      <img src="assets/images/photos/mentor-guidance.jpg" alt="">
      <img src="assets/images/photos/fellow-presenting-group.jpg" alt="">
      <img src="assets/images/photos/fellows-azavea-sign.jpg" alt="">
      <img src="assets/images/photos/mentors.jpg" alt="">
      <img src="assets/images/photos/fellows-jumping.jpg" alt="">
      <img src="assets/images/photos/fellow-mentor.jpg" alt="">
      <img src="assets/images/photos/fellows-working.jpg" alt="">
    </div>
  </div>
</section>
