<section class="qualtifications">
  <div class="container">
    <div class="inner-content">
      <div class="content-header">
        <span class="content-mini-title">
          {{ page.qualifications.above-title }}
        </span>
        <h2 class="content-title">
          {{ page.qualifications.title }}
        </h2>
      </div>
      <p class="content-blurb">{{ page.qualifications.blurb }}</p>
    </div>
    <div class="row">
      <div class="column-6">
        <h3>{{ page.student-qualifications.title }}</h3>
        <p>{{ page.student-qualifications.blurb }}</p>
        <a href="{{ site.baseurl }}/about#student-eligibility" class="btn btn-primary">Learn more</a>
      </div>
      <div class="column-6">
        <h3>{{ page.np-qualifications.title }}</h3>
        <p>{{ page.np-qualifications.blurb }}</p>
        <a href="{{ site.baseurl }}/about#organization-eligibility" class="btn btn-primary">Learn more</a>
      </div>
    </div>
    <div class="carousel qualifications-carousel">
      <img src="assets/images/office/azavea-artwork.jpg" alt="Azavea office photo">
      <img src="assets/images/office/azavea-daniel.jpg" alt="Azavea office photo">
      <img src="assets/images/office/azavea-plants.jpg" alt="Azavea office photo">
      <img src="assets/images/office/azavea-giant-monitor.jpg" alt="Azavea office photo">
      <img src="assets/images/office/azavea-group.jpg" alt="Azavea office photo">
      <img src="assets/images/office/azavea-kitchen.jpg" alt="Azavea office photo">
      <img src="assets/images/office/azavea-lounge.jpg" alt="Azavea office photo">
      <img src="assets/images/office/azavea-design-crit.jpg" alt="Azavea office photo">
      <img src="assets/images/office/azavea-posture.jpg" alt="Azavea office photo">
      <img src="assets/images/office/azavea-plants2.jpg" alt="Azavea office photo">
    </div>
  </div>
</section>