section.join-us {
  background-color: $white;
}

.call-to-action {
  display: flex;
  background-color: $off-white;
  box-shadow: $shadow-default;
  align-items: center;

  &.form-signup {
    background-color: #0E4266;
    color: $white;
    box-shadow: none;
    align-items: unset;
    flex-direction: column;
    padding: 2rem 4rem;

    @media (max-width: 900px) {
      padding: 2rem;
    }

    .close-button {
      speak: none;
      display: none;
      user-select: none;
    }
  }

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.c2a-image {
  background: url(../assets/images/photos/azavea-front-sign.jpg) no-repeat;
  background-size: cover;
  flex-basis: 55%;
  min-height: 35rem;
  justify-self: stretch;
  align-self: stretch;

  @media (max-width: 900px) {
    height: 25rem;
    min-height: initial;
  }
}

.c2a-message {
  padding: 3rem;
  flex: 1;

  @media (max-width: 900px) {
    padding: 3rem 2rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2.5rem;
  }
}

.webinar-c2a {
  display: flex;
  background-color: $white;
  box-shadow: $shadow-default;
  align-items: center;
  margin-bottom: 2rem;

  @media (max-width:900px) {
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto 2rem;
  }

  .webinar-video {
    flex-basis: 55%;
    padding: 10px;
    margin: 0;

    @media (max-width:900px) {
      flex-basis: 100%;
    }

    iframe {
      max-width: 100%;
    }

    figcaption {
      font-size: 14px;
      font-style: italic;
      color: $brand-granite;
    }
  }

  .webinar-message {
    flex: 1;
    padding: 1rem;

    @media (max-width:900px) {
      padding: 1rem;
    }

    em {
      font-size: 14px;
      font-style: italic;
      color: $brand-granite;
    }
  }
}