.content-header {
  position: relative;
  padding-bottom: 2rem;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2rem;
    display: block;
    width: 8rem;
    height: 3px;
    background-color: #D0D9E1;
  }
}

.content-mini-title,
.content-subtitle {
  font-size: 1.2rem;
  color: $header;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.content-title {
  font-size: 3.6rem;
  color: $header;
}

.content-blurb {
  font-size: 2.2rem;
  color: $base;
}