.mentor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mentor {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 0;
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 1.8rem;

  .avatar {
    border-radius: 100%;
    width: 15rem;
    max-width: 100%;
  }

  .mentor-name {
    transition: .2s ease-in-out opacity;
  }

  .mentor-profile {
    opacity: 0;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    transition: .2s ease-in-out opacity;
    user-select: none;
    white-space: nowrap;

    img {
      max-width: 1.2rem;
      margin-right: 5px;
    }
  }

  @media (max-width: 900px) {
    flex-basis: 33%;
    font-size: 1.6rem;

    .avatar {
      max-width: 80%;
      height: auto;
      margin: 0 auto 1rem;
      display: block;
    }
  }

  @media (max-width: 650px) {
    flex-basis: 50%;
  }
}

.mentor:hover {

  .mentor-name {
    opacity: 0;
  }
  
  .mentor-profile {
    opacity: 1;
    color: $primary;
  }
}