.paginator {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pagination {
  display: block;
  font-size: 1.8rem;
  margin: 5px 0;
  flex-basis: 48%;
  text-align: left;
  position: relative;
  transition: .2s ease-in-out background;

  &:hover {
    background: $off-white;
    text-decoration: none;
  }

  &.prev {
    padding-left: 3rem;
    
    &:before {
      content: url(/assets/icons/icon-arrow-left.svg);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      opacity: .5;
    }
  }

  &.next {
    margin-left: auto;
    text-align: right;
    padding-right: 3rem;

    &:before {
      content: url(/assets/icons/icon-arrow-right.svg);
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      opacity: .5;
    }
  }

  span {
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-weight: 600;
    opacity: .7;
    color: $base;
    display: block;
  }
}