{%- include _global-variables.html -%}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-970854-18"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-970854-18');
  </script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- SEO -->
  <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  <meta name="description" content="{% if page.seo_description %}{{ page.seo_description }}{% endif %}">
  <meta name="Copyright" content="Copyright © Summer of Maps 2019. All Rights Reserved.">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/assets/favicon/manifest.json">
  <link rel="mask-icon" href="{{ site.baseurl }}/assets/favicon//safari-pinned-tab.svg" color="#3174a3">
  <meta name="theme-color" content="#ffffff">
  
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Source+Code+Pro" rel="stylesheet">

  
</head>
<body 
  {% if page.page_class %} 
    class="{{- page.page_class }} {{ layout.page_class -}}" 
  {% endif %}>
  {% include navbar.html %}
  
  {% if layout.use-alternate-hero %}
    {% include hero-alt.html %}
  {% elsif layout.use-post-hero %}
    {% include hero-post.html %}
  {% else %}
    {% include hero.html %}
  {% endif %}
  
  <!-- page content -->
  {{ content }}
  <!-- page content -->

  {% if page.hide-c2a != true %}
    {% include call-to-action.html %}
  {% endif %}
  {% if page.hide-footer != true %}
    {% include footer.html %}
  {% endif %}
  {% unless GlobalInSession %}
    {% include form-modal.html %}
  {% endunless %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <script src="/assets/javascript/pristine.js"></script>
  <script>
    /* 
    ** Basic Front-end spam prevention techniques in use: 
    ** Technique 1: Only enable form submission 3.5 seconds after page load
    ** Technique 2: Basic form validation using Pristine.js
    ** Technique 3: Three honeypot field checks https://stackoverflow.com/questions/36227376/better-honeypot-implementation-form-anti-spam
    */
    window.onload = function () {
      var hpValid = true;
      var form = document.getElementById("signup-form");
      var formAction = "https://webto.salesforce.com/servlet/servlet.WebToLead"
      var submitButton = document.getElementById("contact-form-submit");
      var pristine = new Pristine(form);
      
      // Technique 1
      setTimeout(function() {
        submitButton.disabled = false;
        form.action = formAction;
      }, 3500);

      // Technique 2 & 3
      form.addEventListener('submit', function (e) {
        e.preventDefault();

        var hpFields = {
          1: document.getElementById("contact-method-official-name-of-org"),
          2: document.getElementById("contact-method-phone"),
          3: document.getElementById("contact-by-phone-only")
        }

        // check if the form is valid and honeypots are unchanged
        if (hpFields[1].value.length != 0 ||
            hpFields[2].value.length != 0 ||
            hpFields[3].checked) {
          hpValid = false;
        };
        var checkValidity = pristine.validate();
        if( checkValidity && hpValid ) { form.submit() }
      });
    };
  </script>
  {% if page.js_dependencies %}
    {% for dependency in page.js_dependencies %}
    <script src="{{ site.baseurl }}/assets/javascript/{{ dependency }}"></script>
    {% endfor %}
  {% endif %}  

</body>
</html>


