---
layout: default
page_class: secondary
use-alternate-hero: true
---
<section>
  {% if page.use-intro-imagery %}
    {% include intro-imagery.html %}
  {% endif %}

  <div class="container">
    {% if page.show-webinar %}
      <div class="webinar-c2a">
        <figure class="webinar-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9vVPUWA_G_o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <figcaption>2018 Summer of Maps webinar</figcaption>
        </figure>
        <div class="webinar-message" markdown="1">
          <h2>Sign up for our next webinar</h2>
          <em>Wed, Oct 30, 2019 11:00 AM - 12:00 PM EDT</em>
          <p>An overview of how to apply to the program and answers to your questions about how to craft geospatial data analysis projects.</p>
          <a href="https://attendee.gotowebinar.com/register/914449928810323724" class="btn btn-ghost-primary">Join our next webinar</a>
          <p>or <a href="/contact/">receive a notice</a> when the applications open</p>
        </div>
      </div>
    {% endif %}
    <div class="inner-content">
      {{ content }}
    </div>
  </div>
</section>