---
layout: default
page_class: secondary
use-alternate-hero: true
---
<section>
  {% if page.use-intro-imagery %}
    {% include intro-imagery.html %}
  {% endif %}

  <div class="container">
    {% if page.show-webinar %}
      <div class="webinar-c2a">
        <figure class="webinar-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GXhnnGNuDqg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <figcaption>2019 Summer of Maps webinar</figcaption>
        </figure>
        <div class="webinar-message" markdown="1">
          <h2>Sign up for our next webinar</h2>
          <em>Tue, Jan 7, 2020 2:00 PM - 3:00 PM EST</em>
          <p>An overview of the Summer of Maps program and how you can create a great application followed by a Q&A period if you have questions specific to your application.</p>
          <a href="https://register.gotowebinar.com/register/8642710453171744781" class="btn btn-ghost-primary">Join our next webinar</a>
          <p>or <a href="/contact/">receive a notice</a> when the applications open</p>
        </div>
      </div>
    {% endif %}
    <div class="inner-content">
      {{ content }}
    </div>
  </div>
</section>