section {
  background-color: $off-white;
  width: 100%;
  max-width: 1150px;
  padding: 5rem 0;
  margin: auto;
  position: relative;
  border-left: 2px solid $off-white;
  border-right: 2px solid $off-white;
}

.section-spacer {
  padding: 4.5rem;
}