@mixin heading-tags {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    @content;
  }
}

@include heading-tags {
  margin-bottom: 1rem;
  line-height: 1.25;
  font-family: 'Lato', sans-serif;
  color: $header;
  font-weight: 400;
}

h1, h2, h3,
.h1, .h2, .h3 {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

h4, h5, h6,
.h4, .h5, .h6 {
  margin-top: 1.3rem;
}

h1, .h1 {
  font-size: 3.6rem;
}

h2, .h2 {
  font-size: 3.1rem;
}

h3, .h3 {
  font-size: 2.5rem;
}

h4, .h4 {
  font-size: 2.2rem;
}

h5, .h5 {
  font-size: 1.6rem;
}

h6, .h6 {
  font-size: 1.3rem;
}

p, .p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

ul {
  font-size: 1.6rem;
  color: $base;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 2rem;

  li {
    margin: 1rem 0;
    position: relative;
    padding-left: 2rem;
    line-height: 1.6;

    &:before {
      content: '\2022';
      color: rgba($header, .5);
      font-size: 1.4rem;
      padding-right: 1rem;
      position: absolute;
      top: 2px;
      left: 0;
    }
  }
}

ol {
  font-size: 1.6rem;
  color: $base;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 2rem;
  counter-reset: ol-counter;

  li {
    margin: 1rem 0;
    position: relative;
    padding-left: 2.5rem;
    line-height: 1.6;

    &:before {
      content: counter(ol-counter)':';
      counter-increment: ol-counter;
      color: rgba($header, .5);
      font-size: 1.4rem;
      padding-right: 1.5rem;
      position: absolute;
      top: 2px;
      left: 0;
    }
  }
}

code, kbd, pre, samp {
  font-family: 'Source Code Pro', monospace;
}

.font-size-small {
  font-size: 1.3rem;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
